/src/_ReSharper.*
/src/Oglr.Ui/bin
/src/Oglr.Core/bin
/src/Oglr.InGame.KryptonProperties.Windows/bin
/src/Oglr.InGame.Windows/bin
/src/Oglr.Plugins.Krypton/bin
/src/Oglr.Plugins/bin
/src/Oglr.Ui/obj
/src/Oglr.Core/obj
/src/Oglr.InGame.KryptonProperties.Windows/obj
/src/Oglr.InGame.Windows/obj
/src/Oglr.Plugins.Krypton/obj
/src/Oglr.Plugins/obj
/src/Oglr.InGame/bin
/src/Oglr.InGame/obj
/src/Oglr.InGame.Krypton/obj
/src/Oglr.InGame.Krypton/bin
bin
